{% extends 'base.html.twig' %}

{% block title %}New Fds{% endblock %}

{% block body %}
    <h1 class="animated fadeInLeft">Create new Fds</h1>

    {{ include('fds/_form.html.twig') }}

    <a href="{{ path('app_fds_index') }}">back to list</a>
{% endblock %}
